@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>La Tuerca</h1>
    <p class="lead">El servicio encarnaceno que te ayuda a arreglar tu auto desde la comodidad de tu casa</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Todos los repuestos</h2>
        <p>
            Puedes ver la lista de repuestos que tenemos de una manera muy fácil
        </p>

        <p><a class="btn btn-default" href="/Repuestos">Ver m&aacute;s &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Todas las Marcas</h2>
        <p>Trabajamos con una gran cantidad de marcas existentes en el mercado</p>
        <p><a class="btn btn-default" href="/Marcas">Ver m&aacute;s &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nuestros proveedores</h2>
        <p>Puedes ver en quien confiamos</p>
        <p><a class="btn btn-default" href="/Proveedors">Ver m&aacute;s &raquo;</a></p>
    </div>
</div>